apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: lab5
  labels:
    app: db
spec:
  selector:
    app: db
  ports:
    - port: 5432
      targetPort: 5432
<<<<<<< HEAD
  type: ClusterIP
=======
  type: ClusterIP
>>>>>>> 723cf8c (commit)
