apiVersion: v1
kind: Service
metadata:
  name: web-service
  namespace: lab5
  labels:
    app: web
spec:
  selector:
    app: web
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30080   
  type: NodePort
