apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  namespace: lab5
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: mariem507/lab5-app:latest
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              value: db-service
            - name: DB_NAME
              value: mydb
            - name: DB_USER
              value: myuser
            - name: DB_PASSWORD
              value: pass1234

